#Arcitecture{
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    position: relative;
}
#Arcitecture img{
    z-index: 1;
    width:100%;
    overflow: hidden;
    grid-row: 1;
    grid-column:1;
}
.arcitecture-text{
    z-index: 2;
    grid-row: 1;
    grid-column:1;
    padding: 12% 5%;
    color:var(--yellow);
}
.arcitecture-text p{
    color:#fff;

}