#Beaches{
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    position: relative;
}
#Beaches img{
    z-index: 1;
    width:100%;
    overflow: hidden;
    grid-row: 1;
    grid-column:1;
}
.beaches-text{
    z-index: 2;
    grid-row: 1;
    grid-column:1;
    padding: 12% 5%;
    color:#fff;
}
.beaches-text p{
    color:#fff;
}