#FoodLifestyleFashion{
    background-color: #fff;
    border-radius: 1rem;
    display:grid;
    grid-template-columns:repeat(2, 50%);
    gap:2%;
    height: 95%;
}
.food-lifestyle{
    grid-column:1;
}
.fashion{
    grid-column:2;
}
.food-lifestyle, .fashion{
    padding:5%;
    display:flex;
    flex-direction: row;
}
.flf-img{
    height: 97%;
    padding-right:5%;
}
.flf-item-text{
    padding-top: 7%;
}
.pink{
    color:var(--pink);
}
.blue{
    color:var(--second-blue);
}
