#Latest{
    background-color: #fff;
    border-radius: 1rem;
    display:grid;
}
.latest-news{
    padding:4% 5% 5% 5%;
    margin:0;
    text-align: center;
    background-color:var(--latest-news);
    color:#fff;
    border-radius: 1rem 1rem 0 0;
}
.latest-item{
    display:flex;
    flex-direction:row;
    padding:5%;
}
.latest-img{
    margin-right:10%;
    width: 79%;
    height: 101%;
    border-radius: 1rem;
}
h5{
    margin:0;
}
.latest-item-text{
    padding-top: 3%;
}
.more-news{
    border-top:solid 1px #7B8591;
    margin:0;
    padding:2% 5%;
    color:#7B8591;
    text-align: center;
}