#MustSee{
    display:grid;
    grid-template-rows: 10% 60% 30%;
    grid-template-columns: repeat(2, 50%);
    position:relative;
    color:#fff;
}
.mustsee-first-img{
    width:100%;
    z-index:1;
    grid-column:1/span 2;
    grid-row: 1/span 3;
}
.on-img{
    z-index: 2;
    position: absolute;
}
#MustSee h1{
    grid-row:2;
    grid-column:1;
    font-size: 51px;
    place-self: center start;
    padding: 0 50% 0 5%;
}
#MustSee p{
    grid-row:3;
    grid-column:1;
    color:#fff;
    place-self: start;
    padding: 0 50% 0 5%;
}
.new-york-times{
    grid-row:1;
    display:flex;
    place-self:start;
    padding: 1% 0 0 2%;
}
.new-york-times h2{
    margin:0;
    font-size:11px;
    width:118%;
    padding-top: 7%;
}
.mustsee-logo{
    height: 100%;
    padding: 2%;
    width: 44%;
}
.mustsee-heart{
    grid-row:1;
    grid-column:2;
    place-self: start end;
    padding: 3%;
    margin:4%;
}
