#OffTheGrid{
    background-color: #fff;
    display:grid;
    grid-template-rows: 56% 11% 33%;
    grid-template-columns: 14% 86%;
    position: relative;
    border-radius: 1rem;
}
#OffTheGrid h3{
    grid-row:1;
    grid-column:1/span 2;
    z-index: 2;
    position: absolute;
    color:#fff;
    padding:0 5%;
}
.off-the-grid-first-img{
    grid-row:1/ span 2;
    width:100%;
    z-index: 1;
    border-radius: 1rem 1rem 0 0;
    grid-column:1/span 2;
}

.OffTheGrid-text, .OffTheGrid-circle-img{
    z-index: 2;
    text-align:center;
}
.OffTheGrid-text{
    grid-row: 3;
    grid-column:1/span 2;
}
.OffTheGrid-circle-img{
    grid-row:2;
    grid-column:1;
    place-self:end start;
}
.OffTheGrid-circle-img picture img{
    padding:0 0 0 5%;
    border-radius:50%;
    width:5%;
}