#Parcels{
    background-color:var(--first-orange);
    border-radius: 1rem;
}
#Parcels{
    padding: 1% 2%;
    margin:0 1%;
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows: 27% 50%;
}
#Parcels img{
    place-self: center end;
}
.Parcels-text{
    color:#fff;
    grid-row:2;
}
.Parcels-text p{
    color:#fff;
} 
