#Latest{
    background-color: #fff;
    border-radius: 1rem;
    display:grid;
}
.latest-news{
    padding:4% 5% 2% 5%;
    margin:0;
    text-align: center;
    background-color:var(--latest-news);
    color:#fff;
    border-radius: 1rem 1rem 0 0;
    font-family:'Gotham Pro Bold'; 
    font-size: 17px;
    font-weight: lighter;
}
.latest-item{
    display:flex;
    flex-direction:row;
    padding: 5% 5% 8% 5%;
}
.latest-img{
    margin-right:6%;
    width: 96%;
    height: 101%;
    border-radius: 1rem;
}
h5{
    margin:0;
}
.latest-item-text{
    padding-top: 3%;
}
.latest-item-text p{
    font-size: 13px;
    margin: 5% 0 0 0;
    line-height:1.5;
}
.latest-item-text h5{
    font-family:'Gotham Pro'; 
    font-size: 12px;
}

.more-news{
    border-top:solid 1px #7B8591;
    margin:0;
    padding:2% 5%;
    color:#7B8591;
    text-align: center;
    font-family:'Gotham Pro Bold'; 
    font-size: 17px;
    font-weight: lighter;
}