#Outdoor{
    background-color: #fff;
    padding:4%;
    border-radius: 1rem;
    display:grid;
    grid-template-columns:repeat(2, 50%) ;
    grid-template-rows: 10% 30% 30% 30%;
}
.first-img{
    grid-row:1/span 4;
    grid-column: 1;
    height:100%;
    margin-right:5%;
    border-radius: 1rem;
}
.little-imgs{
    display:grid;
    grid-template-columns:repeat(3, 30%);
    gap:3%;
    height:84%;
    margin-top:5%;
}
#Outdoor button{
    place-self:center end;
    background-color:var(--first-blue);
    color:#fff;
    border:none;
    padding:2% 5%;
    border-radius: 5rem;
}
#Outdoor h1{
    font-size: 49px;
    margin:0;
    font-family:'Gotham Pro Bold'; 
    line-height: 47px;
}
#Outdoor p{
    font-size: 17px;
}