:root{
    --background-color:#EAEAEA;
    --first-blue:#005AEE;
    --first-orange:#FFA767;
    --second-blue:#0AACDC;
    --third-blue:#597AEF;
    --latest-news:#3F51B5;
    --ln-green:#40BE65 ;
    --ln-blue:#0072CA;
    --ln-orange:#D9A34A;
    --ln-red:#FF4967;
    --pink:#E44385 ;
    --yellow:#FFD430;
    --grey-blue:#D0E2FF;
    --news-digest:#3CA773;
    --nd-yellow:#D9A34A;
    --nd-greenblue:#53BBB3;
    --fourth-blue:#358ED7;
}

/*
#EAEAEA - background
#005AEE - 1blue
#FFA767 - 1orange
#0AACDC - 2blue
#597AEF - 3blue
#3F51B5 - latestnews
    #40BE65 - green
    #0072CA - blue
    #D9A34A - orange
    #FF4967 - red
    #0072CA - blue
#E44385 - pink
#0AACDC - 4blue
#FFD430 - yellow
#D0E2FF - grey blue
#3CA773 - newdigest
    #D9A34A - yellow
    #007AC2 - blue
    #3CA773 - green
    #53BBB3 - greenblue
#53BBB3 - green
#358ED7 - 5blue
*/