#Greenery{
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    position: relative;
}
#Greenery img{
    z-index: 1;
    width:100%;
    overflow: hidden;
    grid-row: 1;
    grid-column:1;
}
.greenery-text{
    z-index: 2;
    grid-row: 1;
    grid-column:1;
    padding: 12% 5%;
    color:#fff;
}
.greenery-text p{
    color:#fff;

}