#Quality{
    background-color:var(--second-blue);
    border-radius: 1rem;
}
#Quality{
    padding: 1% 2%;
    margin:0 1%;
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows: 27% 50%;
}
#Quality img{
    place-self: center end;
}
.Quality-text{
    color:#fff;
    grid-row:2;
}
.Quality-text p{
    color:#fff;
} 
